.app-info {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  &__inner {
    width: 100%;
    > * + * {
      margin-top: 50px;
      @media screen and (max-height: 700px) {
        margin-top: 30px;
      }
    }
  }
}
.credit {
  &__inner {
    width: 100%;
    > * + * {
      margin-top: 30px;
    }
  }
  &__image-info {
    text-shadow: 1px 0px 3px rgb(0 0 0 / 81%);
  }
}
