.btn {
  all: unset;
  cursor: pointer;
  transition: all 1s var(--transition);

  svg {
    transition: all 0.3s var(--transition);
  }

  &--link {

    &:hover,
    &:focus,
    &:active {
      opacity: 0.7;
    }
  }

  &-icon {
    all: unset;
    cursor: pointer;
    transition: all 1s var(--transition);
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);

    svg {
      width: 18px;
      height: 18px;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: var(--secondary-color);
    }

    &--light {
      color: var(--primary-light);
      border: 1px solid rgba(#25242C, 0.2);

      &:hover,
      &:focus,
      &:active {
        border-color: var(--primary-light);
      }
    }

    &--dark {
      color: var(--primary-light);
      border: 1px solid rgba(#FFF, 0.2);

      &:hover,
      &:focus,
      &:active {
        border-color: var(--primary-light);
      }
    }
  }

}