.quote {
  align-self: end;
  padding: 30px;
  border: 1px solid var(--border-color--lighter);
  border-radius: 4px;
  font-family: var(--secondary-family);
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 1.875;
  color: var(--color-primary);
  background-color: rgba(black, 0.1);
  @media #{$mq-1400-down} {
    font-size: 0.95rem;
  }
  @media screen and (max-height: 550px) {
    font-size: 0.95rem;
  }
  p:last-child {
    margin: 0;
  }

  &__content {
    margin-bottom: 32px;
    @media screen and (max-height: 550px) {
      margin-bottom: 15px;
    }
  }
  &__author {
    font-weight: 500;
    position: relative;
    padding-left: 105px;
    &:before {
      content: "";
      height: 1px;
      background-color: var(--border-color--lighter);
      display: block;
      width: 80px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }
}
