.settings {
  display: flex;
  justify-content: flex-end;

  &__button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--background-color--lighter);
    opacity: 0.9;
  }
}

.settings-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 14;
  }
}

.settings-menu {
  padding: 15px 15px 30px;
  border-radius: 18px;
  width: 100%;
  max-width: 800px;
  max-height: 550px;
  height: 100%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  background-color: var(--settings-background);
  animation: modalShow 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 620px) {
    background-color: var(--settings-background);
  }

  &--small {
    max-width: 720px;
  }

  [data-theme="dark"] & {
    @media screen and (max-width: 620px) {
      background-color: var(--settings-background);
    }
  }

  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.037),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.053),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.065),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.077),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.093),
    100px 100px 80px rgba(0, 0, 0, 0.13);

  &__inner {
    display: flex;
    flex: 1;
    min-height: 0;

    .has-scroll {
      &::-webkit-scrollbar-thumb {
        background-color: var(--primary-light);
      }
    }

    @media screen and (max-width: 620px) {
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    position: relative;
    flex-grow: 0;
  }

  &__footer {
    padding-top: 20px;
    text-align: right;
  }

  &__sidebar {
    padding-right: 30px;
    display: flex;
    width: 100%;
    max-width: 150px;
    flex-direction: column;
    overflow: auto;
    border-right: 1px solid var(--background-color--light);
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;

    @media screen and (max-width: 620px) {
      max-width: initial;
      padding: 0 0 12px;
      overflow-x: scroll;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  &__list {
    @media screen and (max-width: 620px) {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }

    > li:not(:last-child) {
      margin-bottom: 10px;

      @media screen and (max-width: 620px) {
        margin-bottom: 0;
        flex-shrink: 0;
        flex-grow: 1;
      }
    }
  }

  &__main {
    padding-left: 30px;
    flex-grow: 1;
    position: relative;
    overflow: auto;
    padding-right: 15px;

    @media screen and (max-width: 620px) {
      padding-left: 0;
      margin-top: 15px;
    }
  }

  &__button {
    cursor: pointer;
    font-family: var(--primary-family);
    font-weight: 700;
    @include fsz(14px);
    line-height: 1.25;
    margin-bottom: 0;
    padding: 12px;
    border-radius: 9px;
    display: block;
    width: 100%;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    text-align: left;
    color: var(--primary-light);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.active {
      background-color: var(--primary-light);
      color: var(--primary-dark);
    }
  }
}

.settings-screen {
  height: 100%;
  &:not(.active) {
    display: none;
  }
  &__group {
    display: flex;
    justify-content: space-between;
    @media #{$mq-760-down} {
      flex-wrap: wrap;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &--full-height {
      height: 100%;
    }
  }

  &__title {
    @include fsz(14px);
    margin: 0;
    color: var(--primary-light);
  }

  &__input {
    width: 100%;
    max-width: 450px;
    padding-left: 30px;

    @media #{$mq-760-down} {
      max-width: 100%;
      padding-left: 0;
      margin-top: 15px;
    }
  }

  &__content {
    padding-bottom: 30px;
  }
}

.component-toggle {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.theme-switcher {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}

.theme-switch {
  $self: &;

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 12px;
    height: 50px;
    border: 4px solid #fdfdfd;
    background-color: var(--primary-light);
  }

  &__label-title {
    @include fsz(12px);
    position: relative;
    z-index: 1;
    color: var(--primary-light);
  }

  &__input:checked + &__label {
    border-color: rgba(118, 250, 195, 1);
  }

  &--dark {
    #{$self}__label {
      background-color: var(--primary-dark);
    }

    #{$self}__label-title {
      color: var(--primary-light);
    }
  }

  &--auto {
    #{$self}__label {
      background-color: var(--primary-light);

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-dark);
        clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
      }
    }

    #{$self}__label-title {
      color: var(--primary-light);
      mix-blend-mode: difference;
    }
  }

  &--background {
    #{$self}__label {
      background-size: cover;
      background-position: center;
      background-color: white;
      background-image: url("data:image/svg+xml,%3Csvg width='120' height='68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='url(%23b)' d='M0 0h120v67.5H0z'/%3E%3Cpath d='M28 19.5c0 5.247-5.149 9.5-11.5 9.5S5 24.747 5 19.5 10.149 10 16.5 10 28 14.253 28 19.5Z' fill='url(%23c)'/%3E%3Cpath d='M2 74c49.597-18.355 73-43 127-47s0 47 0 47H2Z' fill='url(%23d)'/%3E%3Cpath d='M-33 70.224 147 79.5c-46.546-18.68-88.809-43.51-126.5-54-8.751-2.435-18.806-3.757-28-4.183-10.923-.506-20.632.251-25.5 1.907-26.616 9.05 0 47 0 47Z' fill='url(%23e)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='b' x1='60' y1='0' x2='60' y2='67.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23CFD7F3'/%3E%3Cstop offset='1' stop-color='%23E6CFF3'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='65.5' y1='27' x2='109' y2='71' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%238FB5FF'/%3E%3Cstop offset='.521' stop-color='%2392A7F1' stop-opacity='.479'/%3E%3Cstop offset='1' stop-color='%23CCB5FF' stop-opacity='.58'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='30.5' y1='23.224' x2='-13' y2='67.224' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A8C3F9'/%3E%3Cstop offset='.12' stop-color='%2390B2FC'/%3E%3Cstop offset='.521' stop-color='%2392A7F1'/%3E%3Cstop offset='1' stop-color='%23CCB5FF'/%3E%3C/linearGradient%3E%3CradialGradient id='c' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='rotate(63.234 -8.183 17.078) scale(9.12002 10.329)'%3E%3Cstop stop-color='%23FFFDF8'/%3E%3Cstop offset='.458' stop-color='%23FFFEFB' stop-opacity='.542'/%3E%3Cstop offset='.661' stop-color='%23FFFEFC' stop-opacity='.339'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h120v67.5H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
}

.timezone-input {
  &__input {
    width: 100%;
    appearance: none;
    background-color: transparent;
    padding: 8px 15px 8px 0;
    border: 0;
    border-bottom: 1px solid rgba(#fff, 0.4);
    box-shadow: none;
    color: var(--primary-light);

    &::placeholder {
      color: rgba(#fff, 0.4);
    }

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
      border: 0;
      border-bottom: 1px solid var(--primary-light);
    }
  }

  &__reset {
    all: unset;
    position: absolute;
    right: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;

    svg {
      opacity: 1;
      width: 20px;
      height: 20px;
    }
  }
}

.timezone-wrap {
  position: relative;
}

.timezone-results {
  max-height: 250px;
  overflow: auto;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  background-color: rgb(30 29 30);
  z-index: 2;
  /* total width */
  color: var(--primary-light);

  li {
    padding: 8px;
    border-radius: 8px;

    &:hover {
      background-color: rgba(#040206, 0.2);
    }
  }
}

.timezone-list {
  margin: 20px 0 0;
  padding: 0;

  li {
    list-style: none;
    padding: 12px;
    position: relative;
    padding-right: 60px;
    color: var(--primary-light);
    line-height: 1.75;
    border: 2px solid rgba(#ccc, 0.2);
    border-radius: 4px;
    cursor: default;
    @include fsz(16px);
    line-height: 1.4;

    @media screen and (max-width: 620px) {
      @include fsz(14px);
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .btn-icon {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.toast-message {
  @include fsz(14px);
  font-weight: 500;
  color: var(--secondary-color);
  padding: 14px;
  background-color: var(--primary-color);
  border-radius: 24px;
  position: fixed;
  width: auto;
  transform: translateX(-50%) translateZ(0);
  left: 50%;
  opacity: 1;
  font-weight: 700;
  bottom: 50px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  z-index: 100;
  animation: toastShow 0.2s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.weather-search {
  position: relative;
}

.location-message {
  font-size: 14px;
  margin-top: 4px;
  color: var(--secondary-color);
  position: absolute;
  top: calc(100% + 8px);

  .settings-menu__main & {
    color: var(--primary-light);
  }
}

.greeting {
  margin: 0 0 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(#fff, 0.4);

  &__title {
    @include fsz(24px);
    font-weight: 700;
    margin: 0 0 10px;
    color: var(--primary-light);
  }

  &__subtitle {
    @include fsz(12px);
    display: block;
    color: var(--primary-light);
  }
}

.gradient-text {
  background: linear-gradient(
    80.88deg,
    #ffe6a5 39.33%,
    #edcdff 61.09%,
    #de63bc 80.58%,
    #5a61ff 105.74%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.has-scroll {
  @media screen and (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 4px;
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
      background-color: var(--border-color);
      border-radius: 8px;
    }

    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
      display: none;
    }
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes toastShow {
  from {
    opacity: 0;
    bottom: -300px;
  }

  to {
    opacity: 1;
    bottom: 50px;
  }
}
