
.current-date {
  &__day,
  &__month {
    font-family: var(--primary-family);
    font-weight: 300;
    font-size: 4.5rem;
    line-height: 1.12;
    color: var(--font-color);
    margin-bottom: 0;
    sup {
      font-size: 1.5rem;
    }
    @media screen and (max-height: 600px), (max-width: 1280px) {
      font-size: 3.475rem;
    }
  }

  &__month {
    font-weight: 700;
  }

  &__time {
    text-align: right;
    span {
      position: relative;
      z-index: 1;
      &:after {
        [data-theme="background"] & {
          content: '';
          background-color: rgba(0,0,0,0.30);
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          display: block;
          position: absolute;
          z-index: -1;
          top: -5px;
          right: 0;
          filter: blur(20px);
        }
      }
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-end;
    padding-bottom: 15px;
  }
  &__bottom {
    border-top: 1px solid var(--border-color);
    padding: 15px 0;
  }
  &__intl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}


.world-clock {
  text-align: center;
  &__location,
  &__date {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }

  &__location {
  }
  &__time {
    font-size: 20px;
  }
}