.todo {
  overflow: hidden;
  margin-top: 30px;
  &__list {
    height: 300px;
    overflow-y: auto;
    padding-right: 8px;
    &,
    input[type="text"] {
      font-family: var(--primary-family);
      font-size: 1rem;
      line-height: 1.2;
      color: var(--font-color);
      @media screen and (max-height: 600px), (max-width: 1280px) {
        font-size: 0.875rem;
      }
    }
  }

  &__header {
    display: grid;
  }

  &__actions {
    text-align: right;
    > *:not(:last-child) {
      margin-right: 8px;
      &::after {
        padding-left: 8px;
        content: "/";
      }
    }
  }

  &__item {
    padding: 15px 45px 15px 45px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: var(--border-color);
    }

    &:hover {
      .btn--remove {
        opacity: 1;
      }
    }
    .custom-radio {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 4px;
      pointer-events: none;
      opacity: 0;
    }
  }
  &__title {
    position: relative;
    cursor: pointer;
    /* Make the Task title non-selectable when click multiple times (supporting Chrome, Safari, Firefox and IE) */
    -webkit-user-select: none; /* Chrome and Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE >9 */
    user-select: none;
  }

  input[type="text"] {
    appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
  }
  &__toggle {
    appearance: none;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &,
    ~ custom-radio {
      top: 16px;
    }
    ~ svg.unchecked {
      opacity: 1;
    }
    &:checked {
      ~ svg.checked {
        opacity: 1;
      }
      ~ svg.unchecked {
        opacity: 0;
      }
      ~ label {
        opacity: 0.4;
        text-decoration: line-through;
      }
    }
  }

  .btn--remove {
    position: absolute;
    right: 0;
    top: 14px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    &:hover {
      svg {
        opacity: 0.9;
      }
    }
    svg {
      opacity: 0.2;
      width: 20px;
      height: 20px;
    }
  }

  &__new {
    position: relative;
    padding-left: 45px;
    padding-top: 30px;
    .btn {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 4px;
      transition: all 0.5s var(--transition);
      padding: 0;
      border: 0;
      opacity: 0;
      background-color: transparent;
      color: var(--border-color--lighter);
    }
    input[type="text"] {
      color: var(--font-color);
      &::placeholder {
        color: var(--border-color);
      }
      &:focus {
        opacity: 1;
        ~ .btn {
          transform: rotate(-45deg);
          opacity: 1;
          color: var(--font-color);
        }
      }
    }
  }
}
