.todo {
  overflow: hidden;
  &__list {
    margin-top: 30px;
    &,
    input[type="text"] {
      font-family: Rubik;
      font-family: var(--primary-family);
      font-size: 1rem;
      line-height: 1.2;
      color: var(--font-color);
    }
  }

  &__item {
    padding: 15px 0 15px 45px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: var(--border-color);
    }
    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 4px;
      pointer-events: none;
      opacity: 0;
    }
  }
  &__title {
    position: relative;
  }

  input[type="text"] {
    appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
  }
  &__toggle {
    appearance: none;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
    left: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    &,
    ~ svg {
      top: 16px;
    }
    ~ svg.unchecked {
      opacity: 1;
    }
    &:checked {
      ~ svg.checked {
        opacity: 1;
      }
      ~ svg.unchecked {
        opacity: 0;
      }
      ~ label {
        opacity: 0.4;
        text-decoration: line-through;
      }
    }
  }

  &__new {
    position: relative;
    padding-left: 45px;
    padding-top: 30px;
    .btn {
      position: absolute;
      width: 20px;
      height: 20px;
      left: 4px;
      pointer-events: none;
      opacity: 0.5;
      transition: all 0.5s var(--transition);
      padding: 0;
      border: 0;
      background-color: transparent;
    }
    input[type="text"] {
      &::placeholder {
        font-style: italic;
      }
      &:focus {
        ~ .btn {
          transform: rotate(-45deg);
          opacity: 1;
        }
      }
    }
  }

  &__footer {
  }
}
