html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
.App {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: var(--primary-family);
  background-color: var(--background-color);
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-size: cover;
  background-position: center;
  background-color:var(--background-color);
  background-image: var(--background-gradient);
}
figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-color);
  &:hover {
    color: var(--font-color);
    opacity: 0.9;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

blockquote {
  padding: 0;
  margin: 0;
}

