html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
.App {
  font-size: 100%;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: var(--primary-family);
}

.App {
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
  background-image: var(--background-gradient);
}
figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--font-color);
  &:hover {
    color: var(--font-color);
    opacity: 0.9;
  }
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

blockquote {
  padding: 0;
  margin: 0;
}

.error-alert {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  &__inner {
    background-color: rgba(#000, 0.8);
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    max-width: 720px;
    a {
      color: #fff;
      text-decoration: underline;
      &:hover,
      &:focus,
      &:active {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &__action {
    margin-top: 30px;
    > * {
      margin: 0 12px !important;
    }
  }
}
