.app-shell {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  min-height: inherit;
  position: relative;

  @media #{$mq-760-down} {
    overflow: auto;
    scroll-snap-type: both mandatory;
    display: block;

    > * {
      scroll-snap-align: start;
    }
  }
}

.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-in-out;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(
        at 91% 87%,
        hsl(0deg 0% 0% / 0%) 0px,
        transparent 50%
      ),
      radial-gradient(at 86% 30%, rgba(0, 0, 0, 0.041) 0px, transparent 50%),
      radial-gradient(at 11% 23%, hsl(0deg 0% 0% / 22%) 0px, transparent 50%),
      radial-gradient(at 20% 84%, hsl(0deg 0% 0% / 0%) 0px, transparent 50%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--is-loading {
    visibility: hidden;
    opacity: 0;
  }
}

.app-primary {
  padding: 30px 60px 30px 100px;
  height: 100%;
  overflow: auto;
  @media #{$mq-1400-up} {
    padding: 5vw 30px 50px;
  }

  @media #{$mq-2000-up} {
    padding: 5vw 30px;
  }

  @media #{$mq-1400-down} {
    padding: 40px 60px 30px 40px;
  }

  @media #{$mq-1000-down} {
    padding: 30px 40px;
  }

  @media #{$mq-760-down} {
    padding: 40px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-height: 500px) {
    padding: 40px;
    overflow: auto;
  }

  &__wrap {
    display: grid;
    grid-template-rows: repeat(2, auto);
    max-width: 720px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;

    &--no-spotlight {
      align-items: end;
      grid-template-rows: auto;
    }
  }
}

.app-secondary {
  height: 100%;
  padding: 90px 50px 50px;
  overflow: auto;
  display: flex;
  flex-direction: column;

  @media #{$mq-1400-up} {
    padding: 5vw 50px 50px;
  }

  @media #{$mq-2000-up} {
    padding: 5vw 50px;
  }

  @media #{$mq-1000-down} {
    padding: 100px 50px;
  }

  @media screen and (max-height: 500px) {
    padding: 100px 50px;
  }

  background-color: var(--secondary-background-color);

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: 50px;
    flex: 1;

    @media screen and (max-height: 550px) {
      // overflow: auto;
    }
  }
}
